@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'dosis';
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Utltity Classes */
.my1 {
  margin: 5px 0;
}
.my2 {
  margin: 10px 0;
}
.my3 {
  margin: 15px 0;
}

.text-center {
  text-align: center;
}

.title {
  font-size: 35px;
}

.bottom-line,
.bottom-line-white {
  height: 3px;
  width: 4rem;
  margin: 5px auto;
  background: #333;
}

.bottom-line-white {
  width: 2.5rem;
  background: #fff;
}

/* Nav-Bar Styling */
.main-navbar {
  position: fixed;
  top: 20rem;
  z-index: 2;
  font-size: 20px;
  margin: 0 0 0 8px;
  transform: translateX(0);
  color: #444;
}

.main-navbar .icon {
  position: relative;
  padding: 19px 17px;
  margin: 10px 5px;
  background: #fff;
  border-radius: 50%;
  transition: 0.6s;
  cursor: pointer;
  box-shadow: -1px 11px 36px -11px rgba(0, 0, 0, 0.3);
}

.main-navbar .icon:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-navbar .icon:hover {
  background: #333 !important;
  color: #fff !important;
  padding: 22px 40px 22px 17px;
  border-radius: 124px 124px 121px 121px / 89px 89px 108px 108px;
}

.section-name {
  font-family: 'dosis';
  display: none;
  margin-left: 10px;
  animation-name: txt-animation;
  animation-duration: 0.6s;
}

@keyframes txt-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-navbar .icon:hover .section-name {
  display: inline-block;
  color: #fff;
}

.main-navbar .fa-user,
.main-navbar .fa-file,
.main-navbar .fa-address-book {
  padding: 19px 20px;
}

/* Showcase Styling */
.section-a .showcase {
  position: relative;
  background: url('../images/img1.jpeg') no-repeat center/cover;
  height: 100vh;
  font-family: 'pacifico';
}

.menu-icon {
  display: none !important;
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 0.5rem;
  right: 0;
  z-index: 3;
  padding: 3px 6px;
  margin: 5px;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.section-a:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.section-a .showcase .showcase-txt {
  position: relative;
  z-index: 2;
  font-size: 30px;
  font-weight: 100;
  padding-top: 25rem;
  margin: 0 0 0 200px;
  color: #f4f4f4;
}

.section-a .showcase .icons {
  display: inline-block;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #fff;
  margin: 5px 0 0 200px;
  padding: 5px 0;
}

.section-a .showcase .icons .fab {
  padding: 3px 10px;
  font-size: 25px;
  cursor: pointer;
}

/* About Section Styling: Skills */
.section-b {
  opacity: 0;
  transition: 2.3s;
}

.section-b .about .info {
  display: flex;
  align-items: center;
  margin: 2rem auto;
  width: 65rem;
}
.section-b .about .info .person-img {
  display: block;
  width: 450px;
  border-radius: 3px;
}
.section-b .about .info .about-me {
  margin-left: 3rem;
  width: 500px;
  padding: 20px;
  font-size: 20px;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  line-height: 1.5;
}

.section-b .about .info .about-me .personel-info {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

/* Section-c Styling */
.section-c .skills {
  display: none;
  background: #171414;
  color: #fff;
  padding: 30px 30px 50px 30px;
  text-align: center;
  animation: skill-animation 0.8s;
}

@keyframes skill-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section-c .skills h3 {
  padding: 15px 0;
}

.section-c .skills .skill {
  width: 100%;
  height: 25px;
  background: #fff;
}

.section-c .skills .skill .technical-skill {
  height: 25px;
  background-color: #4275f5;
  animation-duration: 1.8s;
}

.section-c .skills .skill .html {
  animation-name: html-animation;
  width: 100%;
}

@keyframes html-animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.section-c .skills .skill .css {
  animation-name: css-animation;
  width: 91%;
}

@keyframes css-animation {
  from {
    width: 0%;
  }
  to {
    width: 91%;
  }
}

.section-c .skills .skill .js {
  animation-name: js-animation;
  width: 75%;
}

@keyframes js-animation {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

.section-c .skills .skill .php {
  animation-name: php-animation;
  width: 67%;
}

@keyframes php-animation {
  from {
    width: 0%;
  }
  to {
    width: 67%;
  }
}

.section-c .skills .skill .photoshop {
  animation-name: photoshop-animation;
  width: 71%;
}

@keyframes photoshop-animation {
  from {
    width: 0%;
  }
  to {
    width: 71%;
  }
}

.section-c .skills .skill .wordpress {
  animation-name: wordpress-animation;
  width: 63%;
}

@keyframes wordpress-animation {
  from {
    width: 0%;
  }
  to {
    width: 63%;
  }
}

/* Section-c Styling: Achievements */
.section-c .achievements {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background: #f6f6f6;
  padding: 50px;
  margin-top: 40px;
  opacity: 0;
  transition: 1s;
}

.section-c .achievements .achievement-icon {
  color: #4275f5;
}

.section-c .achievements .number-1,
.section-c .achievements .number-2,
.section-c .achievements .number-3,
.section-c .achievements .number-4 {
  display: inline;
  margin: 0 10px;
  font-weight: bold;
  font-size: 50px;
}

/* Section-d Resume Styling */
.section-d {
  opacity: 0;
  transition: 2s;
}

.section-d .resume {
  width: 75rem;
  margin: 0 auto;
}

.section-d .timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80rem;
  padding: 20px;
  list-style: none;
}

.section-d .timeline li {
  position: relative;
  width: 2px;
  background: #4275f5;
}

.section-d .timeline li:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  left: -0.6rem;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #4275f5;
}

.section-d .timeline .summary:after {
  top: 4rem;
}

.section-d .timeline .experience-1:after {
  top: 3.8rem;
}

.section-d .timeline .eduaction:after {
  top: 3.8rem;
}

.section-d .timeline .experience-2:after {
  top: 5.8rem;
}

.section-d .timeline li div {
  width: 500px;
  padding: 15px;
  font-size: 18px;
  line-height: 1.5;
  margin-left: 5px;
}

.section-d .timeline li div li {
  background: none;
  width: 500px;
  margin-left: 20px;
}

.section-d .timeline li div li:after {
  display: none;
}

.section-d .timeline .from {
  background: #333;
  color: #fff;
  display: inline-block;
  padding: 3px 8px;
  margin: 5px 0;
  border-radius: 5px;
}

/* Section-e testimnials styling */
.section-e {
  opacity: 0;
  transition: 1s;
}

.section-e .testimonials {
  background: #171414;
  color: #fff;
  padding: 30px;
}

.section-e .testimonial {
  width: 40rem;
  margin: 0 auto;
  padding: 20px;
}

.section-e .testimonial .review-img {
  display: block;
  width: 8rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 6px solid #444;
}

.section-e .testimonial .name-reviewer {
  padding: 7px;
  font-size: 22px;
}

.section-e .testimonial .work {
  color: rgb(207, 204, 204);
  margin-bottom: 8px;
}

.section-e .testimonial .review-txt {
  padding: 5px;
  line-height: 1.7;
}

.section-e .testimonial .review-txt .quote-icon {
  margin: 3px;
  font-size: 0.7rem;
  transform: translateY(-5px);
}

.section-e .testimonials .testimonial-1 {
  animation: transition-animation 1s;
}

.section-e .testimonials .testimonial-2,
.section-e .testimonials .testimonial-3,
.section-e .testimonials .testimonial-4,
.section-e .testimonials .testimonial-5 {
  display: none;
  animation: transition-animation 1s;
}

@keyframes transition-animation {
  from {
    opacity: 0;
    transform: translateX(500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.section-e .testimonials .circles {
  display: flex;
  width: 20rem;
  margin: 0 auto;
  overflow: hidden;
}

.section-e .testimonials .circles .circle {
  width: 1.2rem;
  height: 1.2rem;
  background: rgb(112, 112, 112);
  margin: 0 auto;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
}

/* Section-f: Projects Styling */
.section-f {
  opacity: 0;
  transition: 2s;
}

.section-f .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 80rem;
  margin: 2rem auto;
}

.section-f .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  animation: animation-name 0.5s;
}

@keyframes animation-name {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section-f .modal-content {
  width: 50rem;
  margin: 15% auto;
  padding: 15px;
  box-shadow: -1px 11px 36px -11px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.section-f .modal-content .modal-img {
  width: 50rem;
  border-radius: 5px;
}

.section-f .projects .project {
  position: relative;
  width: 25rem;
  border: 5px;
  box-shadow: -1px 11px 36px -11px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.section-f .projects .project-img {
  width: 25rem;
  border: 5px;
}

.section-f .projects .project:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rgb(228, 217, 217);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}

.section-f .projects .project .project-txt {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  left: 0;
  z-index: 2;
  font-size: 20px;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
}

.section-f .projects .project .project-txt .arrow,
.section-f .projects .project .project-txt .arrow-2 {
  display: inline;
  position: absolute;
  top: -120px;
  left: 10px;
  font-size: 4.3rem;
  transform: rotate(-45deg);
}

.section-f .projects .project .project-txt .arrow-2 {
  display: inline-block;
  top: 110px;
  right: -19rem;
  transform: rotate(130deg);
}

.section-f .projects .project:hover:before {
  opacity: 0.7;
}

.section-f .projects .project:hover .project-txt {
  opacity: 1;
}

.section-f .projects .project .project-txt .fa-plus {
  transition: 0.2s;
  cursor: pointer;
}

.section-f .projects .project .project-txt .fa-plus:hover {
  color: #4275f5;
}

/* Section-g: Contact form styling */
.section-g {
  opacity: 0;
  transition: 2s;
}

.section-g .contact-form {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.section-g .contact-form .side-info .contact-info {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.section-g .contact-form .side-info .conatct-icon {
  font-size: 2rem;
  padding: 12px;
  margin: 0 10px 8px 0;
  background: #4275f5;
  border-radius: 50%;
  color: #fff;
  transition: 0.5s;
}

.section-g .contact-form .side-info .fa-phone-volume,
.section-g .contact-form .side-info .fa-map-marker-alt {
  padding: 10px 14px 10px 14px;
}

.section-g .contact-form .side-info .conatct-icon:hover {
  background: #171414;
}

.section-g .contact-form input,
.section-g .contact-form textarea {
  display: block;
  padding: 10px;
  width: 40rem;
  margin: 20px 0 0 30px;
}

.section-g .contact-form .btn-submit {
  padding: 13px 60px;
  margin: 15px 0;
  background: #4275f5;
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: 0.5s;
}

.section-g .contact-form .btn-submit:hover {
  background: #171414;
}

.section-g .lets-start {
  font-size: 40px;
  padding: 60px;
  background: #171414;
  color: #fff;
  opacity: 0;
  transition: 2s;
}

.main-footer {
  padding: 20px;
  background: #171414;
  color: #fff;
  opacity: 0;
  transition: 2s;
}
